@charset "utf-8";
/* CSS Document */
/*公用*/
.comwidth{width:1003px;margin:0px auto;min-height:500px;}
.leftArea{float:left;}
.rightArea{float:right;}
/*topBar*/
.topBar{height:32px;background-color:#f7f7f7;line-height:32px;}
.collection{background:url(../images/collection_03.jpg) left center no-repeat;padding-left:20px;font-weight:bold;display:block;}
/*logo*/
.logoBar{height:85px;background-color:#1d7ad9;}
.logo{padding-left:40px;padding-top:15px;}
/*seach*/
.search_box{width:430px;padding-top:25px;padding-left:185px;}
.search_text{width:350px;height:35px;border:none;padding:0px 5px;line-height:35px\9;/*css\9表示所以浏览器*/background-color:#fff;}
.search_btn{height:35px;width:70px;background-color:#ff8c00;font-size:14px; font-family:Fixedsys, "微软雅黑";border:none;color:#fff;}
/*shopcar*/
.shopcar{width:145px;height:35px;background-color:#ff8c00;margin-top:25px;font:14px/35px "Microsoft YaHei", "微软雅黑";color:#fff;margin-right:40px;}
.shopText{width:87px;height:100%;/*font-size:14px;font-family:Fixedsys, "微软雅黑";line-height:35px;*/border-right:#E27A00 solid 1px;background:url(../images/shopcar_10.jpg) 10px center no-repeat;text-indent:40px;}
.shopText a{color:#fff;}
.shopNum{width:26px;heihgt:35px;border-left:#FF9C01 solid 1px;background:url(../images/next_13.jpg)  33px center no-repeat;text-align:right;padding-right:30px;}
/*navBar*/
.navBar{background-color:#1369c0;height:35px;line-height:35px;color:#fff;}
.navclass{width:190px;}
.navclass h3{line-height:35px;text-align:center;*padding-top:8px;}
.navclass i{background:url(../images/class_40.jpg) left center no-repeat;width:15px;height:12px;*height:20px;overflow:hidden;display:inline-block;margin-left:10px;}
ul.nav li{float:left;}
ul.nav li a{color:#fff;display:block;padding:0px 30px;font:14px/35px "Microsoft YaHei", "微软雅黑";}
ul.nav li .active,ul.nav li a:hover{background-color:#4593fd;}
/*弹出菜单列表*/
.shopClass_div{float:left;width:190px;}
.shopClass_show{/*position:absolute;left:0;top:35px;*/background-color:#4593fd;}
.shopClass_item{text-align:left;padding:10px;border-top:1px solid #4593fd;border-bottom:1px solid #3487f2;}
.shopClass_item_active a,.shopClass_item a{padding:2px 5px;}
.shopClass_item_active an,.shopClass_item .an{color:#c2d9f8;display:inline-block;}
.shopClass_item dt{background:url(../images/jt_60.jpg) right center no-repeat;}
.shopClass_item .bn{color:#fff;font:14px/1 "Microsoft YaHei", "微软雅黑";display:inline-block;}
.shopClass_item_active .alink,.shopClass_item .alink{
display:inline-block;
text-align:center;
padding:0px 10px;
color:#fff;
text-decoration:underline;
background:#106ac0;
height:20px;
line-height:20px;
border-radius:25px;
-moz-border-radius:25px; /* 老的 Firefox */}
/*弹出列表*/
.shopClass_list{width:568px;/*position:absolute;left:190px;top:35px;*/float:left;border:1px solid #ddd;}
.shopClass_box{padding:10px 20px;}
.shopList_box{border-bottom:1px solid #e5e5e5;padding:5px;line-height:20px;}
.list_name{color:#4b88da;font-weight:bold;height:20px; }
.list_class{padding-left:70px;margin-top:-20px;}
.list_class a{display:inline-block;padding:0px 5px;}
.list_class a:hover{color:#ff7300}
.link_list{padding:25px 0px;}
a.channel{background-color:#2785e6;color:#fff;width:90px;height:20px;padding:5px;margin-right:20px;line-height:20px;text-align:left;display:inline-block;}
a.channel span{width:11px;height:10px;background:url(../images/jt_60.jpg) right center no-repeat;display:inline-block;}
.ad{/*position:absolute;left:760px;top:35px;*/}
/*菜单列表hover*/
.shopClass_item_active{text-align:left;padding:10px;background-color:#fff;border-left:1px solid #4593fd;border-top:1px solid #4593fd;border-bottom:1px solid #4593fd;}
.shopClass_item_active a.bn{color:#000;font:14px/1 "Microsoft YaHei", "微软雅黑";display:inline-block;}
/*产品展示部分*/
.title{background:url(../images/title_77.jpg) left center no-repeat;font:24px/1 "Microsoft YaHei", "微软雅黑";padding-left:60px;height:50px;line-height:50px;color:#000;margin-top:15px;}
.more{font:"宋体",12px/1;margin-top:25px;text-align:right;}
/*产品展示列表*/
.pro_titles{height:70px;}
.pro_list{margin:10px auto;}
.proboxa{width:810px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.proboxb{width:810px;border-bottom:2px solid #ff7201;border-right:1px solid #ddd;}
.proa{width:200px;border-left:1px solid #ddd;float:left;height:276px;}
.img_box{text-align:center;padding:20px 0px;}
.txt_bold a{font:16px/1 "Microsoft YaHei", "微软雅黑";font-weight:bolder;text-align:center;display:inline-block;width:200px;}
.txt_yellow a{color:#ff7300;font:14px/1 "Microsoft YaHei", "微软雅黑";text-align:center;display:inline-block;width:200px;height:30px;line-height:30px;}
.prob{width:200px;padding:10px 0px;border-left:1px solid #ddd;float:left;height:100px;}
.fra{width:95px;float:right;padding-top:10px;}
a.fta:hover{width:95px;display:inline-block;color:#ff7201;font-size:12px;}
.ftb{font:16px/1 "Microsoft YaHei", "微软雅黑";width:95px;display:inline-block;font-weight:bolder;}
/*footer底部*/
.footer{background-color:#d4d4d4;padding:20px 0px;}
.ftcontent{width:1003px;margin:0px auto;text-align:center;line-height:30px;}
.ftcontent a{margin:3px;}
.ftcontent span{margin:3px 5px;}
.alinkpic{display:inline-block;padding:15px;}
/*product_class.html*/
.leftmenu{width:183px;border:1px solid #d7d7d7;background-color:#f3f3f3;float:left;padding:5px 0px;}
.rightprobox{width:811px;float:right;}
.bannerpro{padding:0px;margin:0px;float:none;}
.protxt{font-size:14px;font-weight:bolder;text-align:center;height:30px;line-height:30px;border-bottom:1px  solid #d7d7d7;}
/*子导航*/
.menu_box{padding:0px 18px;border-bottom:1px dotted #d7d7d7;margin-bottom:-5px;*margin-bottom:-2px;}
.menu_box h4{font-size:12px;height:30px;line-height:30px;}
.navCont_list{display:inline-block;}
ul.navCont_list li{float:left;display:inline-block;width:50%;*width:48%;height:30px;line-height:30px;text-align:left;padding:0px;margin:0px;}
/*content_product*/
.content_product{width:811px;padding:10px 0px;float:none;}
.product_list{padding:10px 0px;width:811px;}
.content_box{width:811px;border-bottom:2px solid #ccc;height:34px;}
.content_box h3{height:34px;line-height:34px;border-bottom:2px solid #096dba;width:190px;text-indent:9px;margin-bottom:-2px;position:relative;}
.pro_item{width:195px;float:left;padding:10px 2px;margin:0px;}
.pro_item p{line-height:20px;}
.pro_item p a{color:#333;}
.pro_item p a:hover{text-decoration:underline;}
.item_img{text-align:center;width:190px;height:170px;}
.item_img img{height:170px;}
.money{color:#d4105a;font-weight:bold;font-size:14px;}
/*choice*/
.vertial  li{width:auto;float:none;height:25px;line-height:25px;text-indent:10px;}
.choice_box{width:810px;padding:20px 0px;}
.choice_item{width:810px;border-bottom:1px solid #ccc;line-height:30px;}
.choice_item a{color:#1d7ad9;}
.choice_item dt{float:left;text-align:right;width:75px;}
.limit{padding:0px 20px;float:left;}
.choice_item a.actived{background-color:#1d7ad9;color:#fff;padding:2px;margin:0px;height:15px;line-height:15px;margin-top:7px;}
.choice_list{width:600px;float:left;}
.choice_item dd a{display:inline-block;float:left;padding:0px 20px;}
a.choice_select{background:url(../images/jt_03.jpg) 95% center no-repeat;padding:2px 5px;border:1px solid #ddd;height:20px;line-height:20px;margin-top:5px;margin-left:15px;color:#333;}
/*商品分页*/
.add_info{height:32px;background-color:#f5f5f5;border:1px solid #ccc;line-height:32px;width:800px;padding:0px 5px;}
.select_btn{background-color:#fff;height:20px;line-height:20px;}
.fr input[type='checkbox']{position:relative;top:0.19em;}
.number{color:#d70000;font:13px/1 "Microsoft YaHei", "微软雅黑";font-weight:bold;}
.tele_box{width:220px;height:350px;float:left;padding:20px 25px;line-height:20px;}
.img_tele{text-align:center;}
.blue{color:#4481c2;font-size:12px;font-family:"新宋体";font-style:normal;}
.comment{padding-left:20px;}
.cart{border:1px solid #4481c2;background:url(../images/shoppingcar_10.jpg) 10% center no-repeat;color:#4481c2;padding:2px 10px 2px 25px;}
.fy{margin:10px auto;text-align:center;}
.fy ul{display:inline-block;}
.fy ul li{float:left;margin:0px 2px;}
.fy ul li a{padding:2px 7px;border:1px solid #ccc;display:inline-block;}
/*detail.html*/
.detail_box{background-color:#f0f0f0;}
.detail_content{width:1003px;margin:0px auto;}
.detail_link{padding:10px 0px;line-height:32px;}
.detail_pro{background-color:#fff;border:1px solid #ccc;}
.detail_fl{float:left;height:575px;width:310px;border-right:1px solid #ccc;}
.pad_box{padding:10px;text-align:center;}
.big_pad{width:250px;height:325px;text-align:center;margin:0px auto;}
.little_pad ul{display:inline-block;}
.little_pad ul li{float:left;}
.little_pad ul li a{display:inline-block;width:55px;height:55px;border:1px solid #ccc;margin-left:-1px;}
ul.lt_img li a img{width:55px;height:55px;}
.little_pad ul li a:hover{border:1px solid #317ee7;margin-right:1px;}
.detail_fr{float:left;width:670px;padding:10px;line-height:30px;}
.detail_fr h3,.detail_fr p{padding-left:10px;}
.cd_pl dd span{margin-right:10px;}
.cd_pl{padding:8px 0px;}
.cd_pl dd select{height:20px;background-color:#fff;}
.cd_pl dd span a{display:inline-block;padding:2px 25px;background-color:#fff;border:1px solid #ccc;}
.cd_pl dd span a:hover{border:1px solid #317ee7;}
.cd_pl dd span a.wifi_choice{display:inline-block;padding:0px 10px;height:25px;line-height:25px;margin-top:5px;}
.cd_pl dd span input{margin:0px;float:left;}
.cd_pl dd span input.jian{width:15px;height:35px;line-height:35px;border:1px solid #ccc;}
.cd_pl dd span input.text_box{width:75px;height:33px;line-height:33px;border-top:1px solid #ccc;border-bottom:1px  solid #ccc; border-left-style:hidden;background-color:#fff;text-align:center;margin-right:-1px;}
.cd_pl dd span input.jia{width:15px;height:35px;line-height:35px;border:1px solid #ccc;}
.yh_price{background:url(../images/hg_06.jpg) left center no-repeat;margin-left:35px;padding-left:62px;color:#555;font-size:12px;}
.number_big{color:#d70000;margin-left:30px;font:18px/1 "Microsoft YaHei", "微软雅黑";font-weight:bold;}
.choice_detail{width:660px;padding:10px 0px 10px 10px;background-color:#f0f0f0;}
.cd_pl{text-align:left;}
.cd_pl dt{float:left;width:65px;}
.cd_pl dd{float:left;width:590px;}
.orange{color:#fc7700;font:14px/1 "Microsoft YaHei", "微软雅黑";font-weight:bold;}
.fweight{font-weight:bold;padding:10px 0px;}
.yellow_btn{text-align:center;padding:10px;}
a.sh_btn{display:inline-block;background:url(../images/shopcar_10.jpg) 12% center no-repeat #f98700;color:#fff;font:20px/1 "Microsoft YaHei", "微软雅黑";padding:13px 20px 13px 50px;margin-right:50px;}
.gray{margin-top:20px;color:#999;}
.com_left{width:190px;float:left;}
.same_price{border-top:2px solid #1d86cf;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#fff;}
.img_left{margin:10px auto;}
.com_img{text-align:center;}
.same_price h3,.no_price h3{height:30px;line-height:30px;text-indent:15px;border-bottom:1px solid #ccc;}
.f_line{height:20px;margin:0 auto;}
.same_price p,.no_price p{padding:0px 10px;line-height:20px;}
.no_price{border:1px solid #ccc;margin-top:15px;background-color:#fff;}
.com_right{width:790px;float:right;}
.commen_box{border:1px solid #ccc;background-color:#fff;}
.commen_title{background:url(../images/bgs_07.jpg) repeat-x;}
.commen_title ul{border-bottom:1px solid #ccc;}
.commen_title ul li{width:50%;height:28px;line-height:28px;float:left;text-align:center;font-size:14px;}
.commen_title ul li:hover{background-color:#0479ca;}
.commen_title ul li a.pj{display:inline-block;background:url(../images/edmjpg_10.jpg)  20% center no-repeat;width:180px;}
.commen_title ul li a.pj:hover{background:url(../images/em_03.jpg) 20% center no-repeat;width:180px;color:#fff;}
.commen_title ul li a.jsd{display:inline-block;background:url(../images/talkingd_03.jpg) 20% center no-repeat;width:180px;}
.commen_title ul li a.jsd:hover{background:url(../images/tald_10.jpg) 20% center no-repeat;width:180px;color:#fff;}
.des{padding:10px;}
.big_txt{color:#ff8f00;font:50px/1 "Microsoft YaHei", "微软雅黑";padding:10px;}
.ft_e{font:18px/1 "Microsoft YaHei", "微软雅黑";color:#ccc;}
.squere{width:455px;height:18px;background-color:#ccc;line-height:18px;color:#666;}
.flg{margin-left:20px;float:left;margin-bottom:30px;}
.squere a{display:inline-block;padding:0px 25px;float:left;}
.all_comment{background-color:#f0f0f0;height:35px;line-height:35px;}
.all_comment ul li{float:left;display:inline-block;margin:0px 10px;}
.all_comment ul li.litim{float:right;}
input.times{padding:5px 12px;background:url(../images/pxd_23.jpg) right center no-repeat;}
.all_commentText{padding:20px;}
.pic_vip{float:left;width:100px;}
.pic_vip dl {display:inline-block;line-height:25px;}
.pic_vip dl dt img{width:60px;height:60px;}
.pic_vip dl dd{text-align:center;}
.vip_comment{float:right;width:620px;padding-left:20px;}
.vip_comment p{line-height:25px;}
/*pro_detail*/
.img_banner{text-align:center;padding:20px 0px;}
.bluetitle{line-height:30px;height:30px;border-bottom:1px solid #d7d7d7;width:750px;margin:10px auto;}
.bluetitle h3{width:85px;font:18px/1 "Microsoft YaHei", "微软雅黑";font-weight:400;color:#2457a6;border-bottom:1px solid #2457a6;line-height:30px;height:30px;}
.text_fig{width:750px;margin:10px auto;line-height:30px;}
/*carting*/
.carting_box{width:1000px;margin:10px auto;background:url(../images/bgs_07.jpg) repeat-x top;border:1px solid #ccc;text-align:left;text-indent:10px;}
.carting_box h3{height:30px;line-height:30px;}
.carting_info{padding:20px;}
.carting_info p{line-height:25px;}
.redstar{color:#ff0000;display:inline-block;}
.carting_info p span{margin:2px;}
.ly_txt{width:260px;height:20px;line-height:20px;border:1px solid #ccc;}
